* {
    background-color: #ccc;
    color: #000;
    font-size: 15pt;
}

QDockWidget {
    background-color: #ddd;
    color: #000;
}

QMenuBar {
    background-color: #ddd;
    color: #000;
}

QPushButton {
    background-color: #ccc;
    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

QPushButton:hover {
    background-color: #aaa;
    color: #000;
}

QPushButton:pressed {
    background-color: #888;
    color: #000;
}

QPushButton:disabled {
    background-color: #ccc;
    color: #aaa;
}
